body{
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather{
    margin: 20px;
}
.city{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: aqua;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: rgb(42, 167, 167);
}
.card{
    background: linear-gradient(180deg, rgb(111, 186, 248),rgb(244, 203, 126));
    padding: 50px;
    box-shadow: 2px 2px 5px rgb(105, 89, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.citydisplay, .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(62, 41, 41);
    margin-bottom: 25px;
}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descdisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatheremoji{
    margin: 0;
    font-size: 7.5rem;
}
.errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(48, 17, 17);
}